<div class="product">
  <a [routerLink]="['/product', product.id]">
    <div class="image-card">
      <img [src]="product.first_image" alt="">
      <img [src]="product.second_image" alt="" class="hidden">
      <div class="icons">
        <i class="far fa-heart"></i>
        <i class="fas fa-shopping-basket"></i>
      </div>
    </div>
  </a>
  <div>
    <h6 class="mt-1">
      <a *ngFor="let category of product.categories" [routerLink]="['/shop', category|lowercase]" >{{category}}</a>
    </h6>
    <p class="mb-1">{{product.title}}</p>
    <h6 style="font-weight: 600;" ><del *ngIf="product.old_price!==0; else noData">${{product.old_price}}.00</del> ${{product.price}}.00</h6>
    <ng-template #noData></ng-template>
  </div>
</div>




