
.breadcrumbs-area{
  font-family: "Montserrat", Sans-serif !important;
  background: linear-gradient(90deg, rgba(253,210,193,1) 0%, rgba(217,247,239,1) 50%, rgba(253,210,193,1) 100%);
  padding: 20px 0 10px ;
}
.breadcrumbs-area h3{
  font-weight: bold;
  margin-bottom: 0;
}
.breadcrumb{
  justify-content: center;
  font-size: 13px;
  background-color: transparent !important;
}
.breadcrumb-item.active{
  color: #F0A285 !important;
}
.breadcrumb-item a , .breadcrumb-item a:hover{
  color: black;
text-decoration: none;
}

/* Main section */
.main-section{
  padding: 25px 20px;
  display: flex;
  flex-wrap: wrap;

}
#categories h5, .filter h5, .products h5{
  text-transform: uppercase;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  letter-spacing: 0.9px;
}
#categories h6 input{
  margin-right: 8px;
}
#categories h6{
  letter-spacing: 0.5px;
  margin: 10px 0;
}
.products img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.151);
}
.products h6 a {
  font-size: 10px;
  color: #f0a285;
  text-decoration: none;
  text-transform: uppercase;
}
.products p{
  font-size: 13px;
  margin-bottom: 4px;
}
.products .right-side{
  min-width: 150px;
  margin-left: 5px;
  padding-right: 4px;
}
@media screen and (min-width: 1200px) {
  .main-section{
      padding: 25px 70px;
  }
}
.hot-offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul{
  padding-left: 0;
}


/* Range SLider */
::ng-deep .ng5-slider .ng5-slider-pointer {
  width: 20px !important;
  height: 20px !important;
  top: -9px !important;
  background-color: black !important;
  outline: none !important;
}
::ng-deep .ng5-slider .ng5-slider-pointer::after {
  display: none !important;
}
::ng-deep .ng5-slider .ng5-slider-selection {
  background: black !important;
}
::ng-deep .ng5-slider{
  z-index: 0 !important;
}
