<!-- Breadcrumb -->

<section class="breadcrumbs-area">
  <h3 class="text-center">SHOPPING GUIDE</h3>
  <ol class="breadcrumb">
    <li class="breadcrumb-item text-uppercase"><a routerLink="/main">Home</a></li>
    <li class="breadcrumb-item text-uppercase"><a routerLink="/services">Services</a></li>
      <li class="breadcrumb-item text-uppercase active" aria-current="page">SHOPPING GUIDE</li>
  </ol>
</section>

<!-- Section -->
<section class="service-block mt-5 mb-5">
<article class="container">
  <img src="../../assets/blog5.jpg" alt="">
  <div class="text-content">
    <h4>SERVICE OVERVIEW</h4>
    <p>Using cosmetics is like a science – every element should be on its own place. We can be your guide in this amazing world full of surprises and myriads of exciting details and bonuses. Check the main steps in our cooperation:</p>
    <ol>
      <li><span>Selecting a Cosmetics Consultant</span></li>
      <li><span>Skin Type Determination</span>
        <ol><li><span>Skin Care Line</span></li>
        <li><span>Decorative Cosmetic</span></li></ol>
      </li>
      <li><span>Evening Make-up Rules</span></li>
    </ol>
    <p>On each step our assistant will communicate with you personally to know you better and to offer you the most appropriate service and tips. You will know what is your basic cosmetics and get expert’s advices.</p>
    <button>Contact with us</button>
  </div>
</article>
</section>
