 <!-- Breadcrumb -->

 <section class="breadcrumbs-area">
  <h3 class="text-center">GALLERY</h3>
  <ol class="breadcrumb">
    <li class="breadcrumb-item text-uppercase"><a routerLink="/main">Home</a></li>
    <li class="breadcrumb-item text-uppercase active" aria-current="page">Gallery</li>
  </ol>
</section>

<!-- Gallery -->
<section class="image-gallery">
  <article *ngFor="let item of gallery_items">
    <app-gallery-item [gallery_item]='item'></app-gallery-item>
  </article>
  <!-- <article>
    <div class="m-2 d-flex justify-content-center position-relative">
      <img src="../../assets/gallery.jpg" alt="" class="w-100 h-auto">
      <div class="text-center text-content">
        <h6>Designer Madeline Poole</h6>
        <p>We always appreciate a good nail art tutorial</p>
      </div>
    </div>
  </article>

  <article>
    <div class="m-2 d-flex justify-content-center position-relative">
      <img src="../../assets/follow1.jpg" alt="" class="w-100 h-auto">
      <div class="text-center text-content">
        <h6>Designer Madeline Poole</h6>
        <p>We always appreciate a good nail art tutorial</p>
      </div>
    </div>
  </article>
  <article>
    <div class="m-2 d-flex justify-content-center position-relative">
      <img src="../../assets/follow2.jpg" alt="" class="w-100 h-auto">
      <div class="text-center text-content">
        <h6>Designer Madeline Poole</h6>
        <p>We always appreciate a good nail art tutorial</p>
      </div>
    </div>
  </article>
  <article>
    <div class="m-2 d-flex justify-content-center position-relative">
      <img src="../../assets/blog3.jpg" alt="" class="w-100 h-auto">
      <div class="text-center text-content">
        <h6>Designer Madeline Poole</h6>
        <p>We always appreciate a good nail art tutorial</p>
      </div>
    </div>
  </article>
  <article>
    <div class="m-2 d-flex justify-content-center position-relative">
      <img src="../../assets/blog1.jpg" alt="" class="w-100 h-auto">
      <div class="text-center text-content">
        <h6>Designer Madeline Poole</h6>
        <p>We always appreciate a good nail art tutorial</p>
      </div>
    </div>
  </article>
  <article>
    <div class="m-2 d-flex justify-content-center position-relative">
      <img src="../../assets/blog2.jpg" alt="" class="w-100 h-auto">
      <div class="text-center text-content">
        <h6>Designer Madeline Poole</h6>
        <p>We always appreciate a good nail art tutorial</p>
      </div>
    </div>
  </article> -->

</section>
