<footer>
  <div class="col-lg-2 col-md-3 pb-3 col-sm-6">
    <h5>Collection</h5>
    <ul>
      <a href="">
        <h6>Bracelets</h6>
      </a>
      <a href="">
        <h6>Bridal</h6>
      </a>
      <a href="">
        <h6>Earrings</h6>
      </a>
      <a href="">
        <h6>Necklaces</h6>
      </a>
      <a href="">
        <h6>Rings</h6>
      </a>
    </ul>
  </div>
  <div class="col-lg-2 col-md-3 pb-3 col-sm-6">
    <h5>Pages</h5>
    <ul>
      <a href="">
        <h6>Home</h6>
      </a>
      <a href="">
        <h6>Blog</h6>
      </a>
      <a href="">
        <h6>Shop</h6>
      </a>
      <a href="">
        <h6>Services</h6>
      </a>
      <a href="">
        <h6>Gallery</h6>
      </a>
    </ul>
  </div>
  <div class="col-lg-4 col-md-6 pb-3">
    <h5>About</h5>
    <p>Chantalle is a luxurios jewelry store where every woman finds her perfect item, created specially for her. Our
      mission is to highlight ladies’ beauty and add some chic, glamour and brightness to their outfit.</p>
  </div>
  <div class="col-lg-4 pb-3">
    <h5>SIGN UP FOR OUR NEWSLETTER</h5>
    <p>Want to be informed about the latest novelties and updates? Subscribe now!</p>
    <form action="">
      <input type="text" placeholder="Enter your email">
      <button><i class="fas fa-envelope"></i></button>
    </form>
  </div>
</footer>
