<header class="header">
  <nav class="nav">
    <div class="left-navbar" [style.display]="isActive ? 'flex' : (!isActive ? '' : null)">

      <a class="nav-link  text-uppercase" id="home"  [routerLink]="['main']"
        [routerLinkActive]="['active']">Home</a>

      <a class=" dropdown nav-link  text-uppercase" id="shopDropdown" style="cursor: pointer;"
        (mouseover)="openDropDown($event, shopMenu)" (mouseleave)="closeDropDown($event, shopMenu)"
        [routerLinkActive]="['active']">
        Shop <i class="fas fa-angle-down pl-1"></i>
      </a>

      <div *ngIf="shopListIsOpened==true" id="shop" class="dropdown-content " aria-labelledby="shopDropdown"
        (mouseleave)="closeMenu($event, shopMenu)">
        <div class="col-lg-12 mb-2">
          <button (click)="closeMenu($event)">x</button>
          <h3><a [routerLink]="['shop']" style="font-weight: 600;">Shop</a></h3>
        </div>
        <div id="jewelry" class="col-lg-2 col-sm-6">
          <h5><a href="">Jewelry</a></h5>
          <ul>
            <h6><a href="">Bracelets</a></h6>
            <h6><a href="">Earrings</a></h6>
            <h6><a href="">Necklaces</a></h6>
            <h6><a href="">Pendants</a></h6>
            <h6><a href="">Rings</a></h6>
          </ul>
        </div>
        <div id="collections" class="col-lg-2 col-sm-6">
          <h5><a href="">Collections</a></h5>
          <ul>
            <h6><a href="">Classic</a></h6>
            <h6><a href="">Roman Barocco</a></h6>
            <h6><a href="">Retro</a></h6>
            <h6><a href="">Modern</a></h6>
            <h6><a href="">Symphony</a></h6>
            <h6><a href="">Gourmette</a></h6>
            <h6><a href="">Prences</a></h6>
          </ul>
        </div>
        <div id="featured-products" class="col-lg-4 col-md-6 col-sm-12">
          <h5><a href="">Featured products</a></h5>
          <div class="d-flex pb-4 pt-3">
            <a href="">
              <img src="../../assets/Thread-18-karat-rose-gold-diamond-eternity-ring-3-600x900.jpg" alt="">
            </a>
            <div class="right-side">
              <h6><a href="">Earrings, </a><a href="">Necklaces, </a><a href="">Rings</a></h6>
              <p>Thread 18-karat rose gold diamond eternity ring</p>
              <h5><del>$265.00</del> $235.00</h5>
            </div>
          </div>
          <div class="d-flex">
            <a href=""><img src="../../assets/Liquid-Hoops-gold-plated-earrings-1-768x1152.jpg" alt=""> </a>
            <div class="right-side">
              <h6><a href="">Bracelets,</a><a href="">Earrings</a></h6>
              <p>Ippolita Love Diamond Compass Pendant</p>
              <h5>$198.00</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4" id="sale-image">
          <img src="../../assets/header-shop.jpg" alt="">
        </div>
      </div>

      <a class="nav-link text-uppercase" id="blog" [routerLink]="['blog']" [routerLinkActive]="['active']">Blog</a>

      <div>
        <a class="nav-link  text-uppercase" style="cursor: pointer;" id="servicesDropdown"
          (mouseover)="openDropDown($event, serviceMenu)" (mouseleave)="closeDropDown($event,serviceMenu)">
          Services <i class="fas fa-angle-down pl-1"></i>
        </a>

        <div *ngIf="serviceListIsOpened==true" (mouseleave)="closeMenu($event)" id="services" class="dropdown-content"
          aria-labelledby="servicesDropdown">
          <button (click)="closeMenu($event)">x</button>
          <h3 class="col-lg-12 pl-0"><a [routerLink]="['services']" style="font-weight: 600;">Services</a></h3>
          <ul class="col-lg-12">
            <h6><a routerLink="/services">Shopping guide</a></h6>
            <h6><a routerLink="/services">Wardrobe assistant</a></h6>
            <h6><a routerLink="/services">Basic cosmetics</a></h6>
          </ul>
        </div>
      </div>


      <a class="nav-link text-uppercase" id="gallery" [routerLink]="['gallery']"
        [routerLinkActive]="['active']">Gallery</a>
    </div>

    <div class="logo">
      <img src="../../assets/logo.png" alt="">
    </div>
    <div class="right-navbar">
      <i class="fas fa-search"></i>
      <i class="fas fa-shopping-basket"></i>
      <i class="fas fa-user"></i>
    </div>
  </nav>
  <div class="nav-toggle" (click)="isActive = !isActive" [ngClass]="{'active' : isActive == true}">
    <span class="nav-toggle-item"></span>
  </div>
</header>
